@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'GEDinarOne';
  src: url('/src/assets/fonts/GE-Dinar-One-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}
html{
  scroll-behavior: smooth;
  direction: rtl;
}

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
body{
  /* background-color: #080c14; */
  /* background-color: #ffffff; */
  /* color: #fff; */
  /* color: #000000; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GEDinarOne', sans-serif;
 
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

 
::-webkit-scrollbar {
  width: 8px; 
}


::-webkit-scrollbar-track {
  background: #080c14; 
  
}


::-webkit-scrollbar-thumb {
  background: #11baf0; 
}



